{
  satzgenerator_mysql_user = "";
  satzgenerator_mysql_password = "";

  DRONE_GITEA_CLIENT_ID = "";
  DRONE_GITEA_CLIENT_SECRET = "";
  DRONE_RPC_SECRET = "";

  S3_ACCESS_KEY_ID = "";
  S3_SECRET_ACCESS_KEY = "";
}
